.quarto-title-block .quarto-title-banner {
  font-family: Lato, Sans-Serif;
}

h1, h2, h3 {
  font-family: Lato, Sans-Serif;
}

.figure-caption {
  font-family: Lato, Sans-Serif;
}

table {
  font-family: "Fira Mono", Monospace;
}

caption {
  font-family: Lato, Sans-Serif;
}